/* src/App.css */
#root {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

/* Các tùy chỉnh font chữ nếu cần */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;500;600;700&display=swap');

.font-serif {
  font-family: 'Playfair Display', serif;
}